# Test framework
pytest==6.0.1
pytest-rerunfailures==9.1.1

# Http
requests==2.22.0

# Selenium
selenium==3.141.0

# WebDriver
webdriver-manager==3.2.2

# Test data
Faker==2.0.4

# Allure
allure-pytest==2.8.18
allure-python-commons==2.8.18

pylint==2.4.4